.classList__body{
    width: 70%;
    margin: auto;
}

.teacher__newClass{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10px auto;
    margin-bottom: 30px;
    background-color: #00af91;
}
.teacher__newClass > input{
    outline-width: 0;
    border: none;
    height: 40px;
    margin:  20px auto;
    width: 80%;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}
.teacher__createButton{
    width : fit-content;
    margin:10px auto;
    margin-top:-20px;
}

.teacher__classlist__details{
    height:150px ; 
    object-fit:contain ;
    border-radius:10px;
    padding : 20px;
    color: white;
    margin-bottom: -20px;
}

.teacher__head{
    font-size: 2.5rem;
    margin-top: 30px;
}

.teacher__noclass__emptyState{
    background-color: lightgrey;
    padding: 20px;
    margin-top: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}
