.list__block1{
    background-color: white;
    width: 100%;
    margin: 20px auto;
    padding: 5px;
    
}

.mlist__header{
    margin-top : 10px;
    border : 2px  solid black;
    padding: 10px;
    background-color: lightyellow;

}
.teacher__mlist__body{
    display: flex;

}
.teacher__mlist__Name{
    width: 20%;

}

.teacher__mlist__Roll{
    width: 20%;
}