.list__block1{
    background-color: white;
    width: 100%;
    margin: 20px auto;
    padding: 5px;

}
.teacher__class__listLabelBody{
    display: flex;
}
.teacher__class__listLabel__class{
    width: 12%;
}
.teacher__class__listLabel__subject{
    width: 25%;
}
.classList__header{
    margin-top : 10px ;
    border : 2px  solid black ;
    padding: 10px ;
    background-color: lightgray;
    font-weight: bolder;
}