.type1{
    margin: 20px auto;
    width: 60%;
    padding: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-weight: 100;
}

.type1__body{
    width:100%;
}

.type1__optionsBlock{
    display: flex;
    flex-direction: row;
    width:70%;
}

.type1__points{
    text-align: right;
    font-size: 1.2rem;
    color: red;
}