.type4Student{
    margin: 20px auto;
    width: 60%;
    padding: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.addFileIcon{
    margin: 15px 10px;
}
.type4__points{
    text-align: right;
    font-size: 1.2rem;
    color: red;
}