*{
    margin: 0;
}
.home{
    background-color: #e8ffff;
}
.slider{
    border-radius:none;
    width: 60%;
    margin:10px auto;
    background-color: #ffffff;
}
.slider__img{
    margin: 0px auto;
    width: 100%;
    height: 400px;
}
.slides{
    width: 80%;
    margin: 0px auto;
}



/* review section */
.home__reviews{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 20px auto;
    justify-content: space-around;
    background-color: #a6f6f1;
    align-items: center;
    min-height: 400px;
}
.review__item{
    flex:1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}
.review__img{
    size: 3rem;
    padding: 0 20px;
    align-self: center;
    flex: 1;
}
.review__text{
    padding:30px;
    flex: 2;
}

/* Home features container */
.home__features{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
    justify-content: space-around;
    background-color: #a6f6f1;
    align-items: center;
}
.home__featureContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

.home__featureImg{
    flex: 2;
    width: 10%;

}
.home__featureText{
    flex: 4;
    margin: 20px;
}
.feature__img{
    object-fit: contain;
    width: 100%
}