.login1{
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    width:fit-content;
    margin: 50px auto 75px;
    background-color: white;
    border:  2px solid  #ffbdb3;

}
.login__header1{
    text-align: center;
    margin: 20px 10px;
    font-size: x-large;
    border-bottom: 2px solid #ffbdb3;
}

.login__body{
    text-align: center;
}
.login__body > h2{
    margin-bottom: 10px;
}
.login__input{
    margin: 5px 20px;
}