img{
    object-fit: contain;   
    width: 100%;
}

.dashboard{
    width: 70%;
    margin: 10px auto;
}
.dashboard__slider{
    width: 100%;
    margin:10px auto;
    background-color: #ffffff;
}
.dashboard__slider__img{
    margin: 0px auto;
    width: 100%;
    height: 500px;
}
.dashboard__slides{
    width: 80%;
    margin: 0px auto;
}
