.classList__body{
    width: 70%;
    margin: auto;
}

.student__joinClass{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10px auto;
    margin-bottom: 30px;
    background-color: darkgrey;
}
.student__joinClass > input{
    outline-width: 0;
    border: none;
    height: 40px;
    margin:  20px auto;
    width: 80%;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}
.student__joinButton{
    width : fit-content;
    margin:10px auto;
    margin-top:-20px;
}

