.list__block1{
    background-color: white;
    width: 100%;
    margin: 20px auto;
    padding: 5px;

}
.list__item{
    margin: 15px ;
    padding: 10px;
    background-color: cornsilk;
    font-size: 26px;
    font-weight: 1000;
    display: flex;
}
.list__itemContent{
    flex: 4;
}
.list__itemButton{
    flex: 1;
    text-align: right;
}
