.marksList__body{
    width: 70%;
    margin: auto;
}
.teacher__mlist__details{
    height:150px ; 
    object-fit:contain ;
    border-radius:10px;
    padding : 20px;
    color: white;
    padding-bottom: 0px;
}

.teacher__testDetails{
    font-size: 2.5rem;
}
.teacher__subjectDetails{
    font-size: 2.5rem;
}