.classtestTeacher{
    width: 100%;
    margin: 10px auto;
    border: 1px solid lightgray;
    background-color: #F0EBF8;
    border-radius: 10px;
}
.classtest__headerTeacher{
    width: 67%;
    margin: 20px auto;
    border: 1px solid lightgray;
    background-color: white;
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    border-top: 10px solid purple;
}
.classtest__headerLeft{
    flex: 3;
    padding-left: 2%;
}
.classtest__headerTestName{
    align-self:flex-start;
    font-size: 2.3rem;    
}
.classtest__headerRemTime{
    flex: 1;
    text-align: center;
    align-self: flex-end;
    font-weight:normal;
}

.addQuestion{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 20%;
}

.addQueText{
    font-size: 1.2rem;
    padding-top: 15px;
    margin-right: 1%;
}

