.type1Teacher{
    margin: 20px auto;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.mainBody{
    background-color: white;
    border: 1px solid lightgray;
    padding: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    border-radius: 10px;
    font-weight: 100;
    width:95%;
    margin-right:0.5%;
}

.teachertype1__body{
    width:100%;
}

.type1__optionsBlock{
    display: flex;
    flex-direction: row;
    width:70%;
}

.type1__points{
    text-align: right;
    font-size: 25px;
    color: red;
}