.type3{
    margin: 20px auto;
    width: 60%;
    padding: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.type3__points{
    text-align: right;
    font-size: 25px;
    color: red;
}